---
import Layout from "../layouts/Layout.astro";
import SectionBlock from "../components/SectionBlock.astro";
import Hero from "../components/Hero.astro";

const sections = await Astro.glob("../pages/homepage/*.md");
---

<Layout title="Oh hello">
  <main>
    {
      sections.map((post) => {
        if (post.frontmatter.type === "hero") {
          return (
            <Hero title={post.frontmatter.title} body={post.frontmatter.body}>
              <div set:html={post.compiledContent()} />
            </Hero>
          );
        } else {
          return (
            <SectionBlock title={post.frontmatter.title}>
              <div set:html={post.compiledContent()} />
            </SectionBlock>
          );
        }
      })
    }
  </main>
</Layout>
