---
import Layout from "../layouts/Layout.astro";
import SectionBlock from "../components/SectionBlock.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import LargeStat from "../components/LargeStat.astro";

import {
  frontmatter as section1Frontmatter,
  compiledContent as section1CompiledContent,
} from "../pages/homepage/02-why.md";
import {
  frontmatter as section2Frontmatter,
  compiledContent as section2CompiledContent,
} from "../pages/homepage/03-how.md";
---

<Layout title="Oh hello">
  <main>
    <Hero />
    <SectionBlock title={section1Frontmatter.title} id="why">
      <div class="markdown">
        <div set:html={section1CompiledContent()}></div>
      </div>
      <LargeStat
        title={section1Frontmatter.largeStatTitle}
        body={section1Frontmatter.largeStatBody}
        source={section1Frontmatter.source}
        icon={section1Frontmatter.icon}
      />
      <Grid />
    </SectionBlock>
    <SectionBlock title={section2Frontmatter.title} id="how">
      <div class="markdown">
        <div set:html={section2CompiledContent()}></div>
      </div>
    </SectionBlock>
  </main>
</Layout>

<style>
  .markdown {
    max-width: 70ch;
  }
</style>
